@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";
@import "grid";
/* *{border: 1px solid black } */

body {
  
    background-image: url('https://i.imgur.com/B6Dp2J0.jpg');
    background-repeat: no-repeat;
    background-size: cover;
   
  }

.image {
  width: 800px;
  height: 450px;
  border-radius: 8px;
  border: solid lightgray 4px;
}



.slider {
  /* position: relative; */
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;

}
.left {
  position: absolute;
  top: 50%;
  left: 15px;
  font-size: 1.5rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  border: solid;
  padding: .1%;
  border-radius: 100%;

}
.slide {
  display: none;
}
.show {
  display: block;

}


.left:hover{
  background: lightgray;
  opacity: 80%;
} 

.right {
  position: absolute;
  top: 50%;
  right: 15px;
  font-size: 1.5rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  border: solid;
  padding: .1%;
  border-radius: 100%;
  
}
.right:hover{
  background: lightgray;
  opacity: 80%;
} 

.lvt {
  position: relative;
  display: flex;
  align-content: center;
  width: 300px;
  height: 250px;
  border-radius: 8px;
  border: solid lightgray 4px;

}
