@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";
@import "grid";


body {
  
    background-image: url('https://i.imgur.com/B6Dp2J0.jpg');
    background-repeat: no-repeat;
    background-size: cover;
   
  }

.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  width: 700px;
  height: 500px;
  border-radius: 8px;
  border: solid lightgray 4px;
}

.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
.left {
  position: absolute;
  top: 50%;
  left: 300px;
  font-size: 1.5rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.right {
  position: absolute;
  top: 50%;
  right: 300px;
  font-size: 1.5rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}




/* .container {
        position: center;
        width: 70%;
        display: flex;
        justify-content: space-around;
      }
.floor-images {
        width: 80%;
        background: lightgray;
        padding: 10px;
        border-radius: 5px;
        box-sizing: border-box;
        box-shadow: 2px 2px lightgray;
      }
.floor-images img {
        display: none;
        width: 100%;
        border-radius: 5px;
      }
.floor-images img:first-of-type {
        display: block;
      }
.carousel-button {
        align-self: center;
        background: lightgray;
        color: #888;
        padding: 10px;
        border-radius: 50%;
        text-align: center;
        box-shadow: 1px 1px #fa8d8e;
      }
      .floor-button:hover {
        cursor: pointer;
        background: #fa8d8e;
        box-shadow: 1px 1px #f2cd99;
        color: white;
      } */
